html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, serif;
  font-size: 16px;
  color: #333;
}

button {
  background: none;
  border-width: 0;
  outline: 0;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:link,
a:hover,
a:visited,
a:active {
  color: #256fd5;
  text-decoration: none;
}
